resources/**/*.pdf filter=lfs diff=lfs merge=lfs -text
resources/**/*.jpg filter=lfs diff=lfs merge=lfs -text
resources/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
resources/**/*.png filter=lfs diff=lfs merge=lfs -text
resources/**/*.heic filter=lfs diff=lfs merge=lfs -text
